#footer {
    border-top: solid 5px gray;;
    background: #333333;
    padding: 10px;

    text-align: center;

    color: #FFFFFF;
}

#footer .foot-item {
    color: #FFFFFF;
    margin: 0 10px;
}

#footer a:hover {
    color: #0072E3;
    text-decoration: none;
}

#footer span.octicon {

}

#footer span {
    margin: 0 5px;
}