
/* footer */
.footnote {
    margin-top: 10px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}
.footnote-tiffany{
    background-color: #333333;
    border-color: #2ca6cb;
    box-shadow: 2px -4px 5px rgba(3,-3,3,0.2);
}
.footnote-tiffany a,
.footnote-tiffany span{
    color:#fff;

}
.footnote .foot-item{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    border-radius: 3px 3px;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.footnote .foot-item:hover{
    background-color: #2ca6cb;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.word-keep{
    display: inline-block;
    word-break: keep-all;
}