#index-container {
    overflow: hidden;
}
#index-container a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#index-container a:hover {
    text-decoration: none;
    color: #00A1EA;
}

#index-main-content {
    -webkit-box-shadow: inset 3px 3px 30px gray;
    -moz-box-shadow: inset 3px 3px 30px gray;
    box-shadow: inset 3px 3px 30px gray;
    overflow: hidden;
    background: #DDDDDD;
}

#index-main-content .content-column {
    opacity: 0;
    margin: 30px 4% 50px;
    position: relative;
    top: 70px;
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -moz-box-shadow: 0 3px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -o-box-shadow: 0 3px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    box-shadow: 0 3px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;

    background-color: #FFFFFF;
}

#index-main-content .content-column .page-header {
    text-align: center;
    padding: 9px;
    border-bottom: solid 3px #00a1ea;
    margin: 10px;
}

#index-main-content ul {
    padding: 15px;
}

#index-main-content ul li {
    position: relative;
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border-bottom: solid 2px gray;
}

#index-main-content ul li a {
    font-size: 25px;
}

#index-main-content ul li span.date {
    font-style: italic;
    position: absolute;
    right: 15px;
    bottom: 7px;
}

.more {
    float: right;
    margin: 30px;
    padding: 5px;
    border: solid 1px #000000;
    color: gray;
    border-radius: 7px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#index-container .more:hover {
    color: #FFFFFF;
    border: solid 1px #00a1ea;
    background: #00a1ea;
    margin-right: 10px;
}

#index-main-content h2 {
    background: #009926;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}