
#index-container a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#index-container a:hover {
    text-decoration: none;
    color: #00A1EA;
}

#index-main-content {
    border: solid 5px gray;
}

#index-main-content .content-column {
    margin: 20px 4%;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}

#index-main-content .content-column .page-header {
    text-align: center;
    padding: 9px;
    border-bottom: solid 3px #00a1ea;
}

#index-main-content ul {
    padding: 15px;
}

#index-main-content ul li {
    position: relative;
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border-bottom: solid 2px gray;
}

#index-main-content ul li a {
    font-size: 25px;
}

#index-main-content ul li span.date {
    font-style: italic;
    position: absolute;
    right: 15px;
    bottom: 7px;
}
