.container-fluid {
    background: #EEEEEE;
}

.col-sm-4 {

}

.one-notebook {
    position: relative;
    margin: 50px 0;
}

.cover {
    width: 100%;
    height: 500px;
    z-index: 1;

    position: relative;
    top: 0;
    left: 0;

    background: url("../imgs/notebook.jpg");
    background-size: cover;

    -webkit-box-shadow: 3px 3px 10px gray;
    -moz-box-shadow: 3px 3px 10px gray;
    box-shadow: 3px 3px 10px gray;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.cover:hover {
    cursor: pointer;
}

.cover .notebook-name {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 2px gray;
    padding-top: 30px;
    padding-bottom: 10px;
}

.cover .open {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: solid 1px gray;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.cover .open:hover {
    border: solid 2px gray;
    font-weight: bold;
    background: #888888;
}

.cover .open span {
    position: absolute;
    top: 13px;
    left: 3px;
}

.content {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-box-shadow: 3px 3px 10px gray;
    -moz-box-shadow: 3px 3px 10px gray;
    box-shadow: 3px 3px 10px gray;
}

.content h3 {
    text-align: center;
    font-weight: bold;
}

.content div.item {
    width: 90%;
    border-bottom: dotted 1px #000000;
    margin: 7px auto;
    font-size: medium;
}

.content div.item a:hover {
    color: #00a1ea;
}