#tech-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#tech-container #tech-col {
    width: 100%;
    background-color: #EEEEEE;

    -webkit-box-shadow: inset 3px 3px 30px gray;
    -moz-box-shadow: inset 3px 3px 30px gray;
    box-shadow: inset 3px 3px 30px gray;
}

#tech-container #tech-col #tech-header {
    text-align: center;
}

.well {
    margin: 0 5%;
    font-size: medium;
}

#tech-container #tech-col ul li {
    position: relative;
    list-style: none;
    border-bottom: solid 3px gray;
    margin-top: 10px;
}

#tech-container #tech-col ul li a:hover {
    color: #00a1ea;
}

#tech-container #tech-col ul li span.date {
    position: absolute;
    right: 20px;
    font-size: 16px;
}