<div class="container-fluid">
    <div class="row">
        <footer id="footer">
            <a class="foot-item" role="button" data-toggle="tooltip" data-placement="top" title="Mail address: 249662605@qq.com">
                <span class="octicon octicon-mail"></span>
                <span>Email@me</span>
            </a>
            |
            <a class="foot-item" href="{{ 'https://github.com/' | append: site.github_username }}" target="_blank">
                <span class="octicon octicon-mark-github"></span>
                <span>My Github</span>
            </a>
            &nbsp;
        </footer>
    </div>
</div>
