<div class="container-fluid">
    <div class="row">
        <footer id="footer">
            <a class="foot-item" href="mailto:{{ site.email }}" target="_blank">
                <span class="octicon octicon-mail"></span>
                <span>Email@me</span>
            </a>
            |
            <a class="foot-item" href="{{ 'https://github.com/' | append: site.github_username }}" target="_blank">
                <span class="octicon octicon-mark-github"></span>
                <span>My Github</span>
            </a>
            &nbsp;
        </footer>
    </div>
</div>
