<div class="container-fluid">
  <div class="row">
    <div id="index-header">
      <h1 class="animated flipInX">
        <img id="logo" src="/build/imgs/logo.png" alt=""/>
        Jihao's Blog
      </h1>
      <h4 id="motto"><span><b>Never let it go</b></span></h4>
    </div>
  </div>
  <div class="row" id="index-nav">
    <ul>
      <li>
        <a href="/">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          &nbsp;&nbsp;Home
        </a>
      </li>
      <li>
        <a href="/pages/tech-notes.html">
          <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>
          &nbsp;&nbsp;Tech Posts
        </a>
      </li>
      <li>
        <a href="/pages/essay.html">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          &nbsp;&nbsp;Essay
        </a>
      </li>
      <li>
        <a href="/pages/about.html">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          &nbsp;&nbsp;About
        </a>
      </li>
    </ul>
    <span id="nav-indicator"></span>
  </div>
</div>
