<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge，chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="baidu-site-verification" content="3EBiLq4RXv" />
    <meta name="keywords" content="ZhouJihao, zhoujihao, 周吉昊, blog, jihaoblog, 前端开发, 个人博客"/>
    <meta name="description" content="Jihao's Blog"/>
    <meta name="robots" content="index,follow"/>
    <meta name="google" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="verify" content="index,follow" />
    <meta name="author" content="Jihao" />
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="/imgs/favicon.ico"/>
    <!--Bootstrap And Octicons-->
    <link rel="stylesheet" href="/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ '/lib/octicons/octicons.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/lib/animate.css' }}" />


    <link rel="stylesheet" href="{{ '/build/css/site_base.css' }}"/>

    {% for style in page.styles %}
        <link rel="stylesheet" href="{{ '/build/css/' | append: style}}"/>
    {% endfor %}

    <title>{{ page.title }}</title>
</head>
