
<!--Blog Header-->
<div class="container-fluid">
    <!--<div class="row">
        <div class="alert alert-danger" role="alert" style="border-radius: 0; text-align: center; text-decoration: underline; margin: 0; border: solid 2px gray;">
            <h4>Blog Is Under Developing</h4>
            &lt;!&ndash;<h4>“为社会福，为邦家光，勖哉诸君，努力自强。”</h4>&ndash;&gt;
        </div>
    </div>-->
    <div class="row">
        <div id="index-header">
            <a href="/">
                <h1 class="animated flipInX"><img src="/imgs/logo.png" alt=""/>Ji Hao's Blog</h1>
            </a>
            <h4 id="motto">
                <span class="animated fadeIn"><b>"Never let it go."</b></span>
            </h4>
        </div>
    </div>
    <div class="row" id="index-nav">
        <ul>
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    &nbsp;&nbsp;Home
                </a>
            </li>
            <li>
                <a href="/pages/tech-notes.html">
                    <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>
                    &nbsp;&nbsp;Tech Posts
                </a>
            </li>

            <li>
                <a href="/pages/essay.html">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    &nbsp;&nbsp;Essay
                </a>
            </li>
            
            <li>
                <a href="/pages/about.html">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    &nbsp;&nbsp;About
                </a>
            </li>

        </ul>
        <span id="nav-indicator"></span>
    </div>
</div>