/*app common style*/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-size: 16px;
    font-weight: 100;

    width: 100%;

    background: url('../images/desktop/1.jpg') no-repeat;
    background-size: cover;
}

.clearfix:before,
.clearfix:after
{
    display: table;
    visibility: hidden;

    width: 0;
    height: 0;

    content: '';
}
.clearfix:after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.fr
{
    float: right;
}
.fl
{
    float: left;
}
.flex
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}
.blur1
{
    background:         linear-gradient(90deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:    -moz-linear-gradient(0deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:     -ms-linear-gradient(0deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:      -o-linear-gradient(0deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
}
.blur
{
            filter: blur(2px);
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
         -o-filter: blur(2px);
}
.blur2
{
    background:         linear-gradient(90deg, rgba(255,255,255,.55) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,.55) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:    -moz-linear-gradient(0deg, rgba(255,255,255,.55) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:     -ms-linear-gradient(0deg, rgba(255,255,255,.55) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
    background:      -o-linear-gradient(0deg, rgba(255,255,255,.55) 0%, rgba(255,255,255,.65) 33%, rgba(255,255,255,.55) 66%, rgba(255,255,255,.35) 100%);
}
