.blog-issue
{
    position: relative;

    width: 100%;
    height: 100%;
}
.app-top-bar
{
    position: relative;

    width: 100%;
    height: 90px;

    border-bottom: solid 2px #d8d8d8;
    background: #f8f6f7;
}
.app-title
{
    font-size: 20px;
    /*font-weight: 150;*/

    position: absolute;
    bottom: 15px;
    left: 50%;

    width: 50%;

    transform: translateX(-50%);
    text-align: center;
}
.search-btn
{
    position: absolute;
    right: 15px;
    bottom: 15px;

    width: 25px;
    height: 25px;

    background: url('../images/search.png') no-repeat;
    background-size: 100%;
}
.return-btn
{
    position: absolute;
    bottom: 15px;
    left: 15px;

    width: 25px;
    height: 25px;

    background: url('../images/return.png') no-repeat;
    background-size: 100%;
}

.blog-issue .slide-part
{
    position: relative;

    overflow: auto;

    width: 100%;
    height: 570px;

    background: #fff;
}
.blog-issue .issue-loader
{
    flex-direction: column;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
.blog-issue .issue-loader .ant-spin-dot
{
    margin-bottom: 20px;
}


.article-list
{
    width: 100%;
    min-height: 570px;
    padding: 10px;

    list-style: none;
}
.article-list-item
{
    position: relative;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    box-sizing: content-box;
    width: 100%;
    min-height: 50px;

    border-bottom: solid 1px #d8d8d8;

    align-items: center;
}
.article-list-item a
{
    line-height: 22px;

    display: block;

    width: 100%;
    height: 100%;
    padding: 0 10px;

    text-decoration: none !important;

    color: #000;
}
.article-list-item:hover
{
    background-color: #e7f4fd;
}
