.fixed-apps
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100px;

    color: #f8f8f8;
}
.blur-bg
{
    width: 100%;
    height: 100%;
    padding: 0;
}
.app-wrap
{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0);

    justify-content: space-around;
    align-items: center;
}

/* iphone app */
.app
{
    z-index: 200;

    width: 57px;
}
.app-icon
{
    width: 100%;
    height: 57px;
}
.app-icon img
{
    width: 100%;
}
.app-name
{
    font-size: 14px;

    margin-top: 2px;

    text-align: center;

    text-shadow: .7px .7px 2px #333;
}
