.iphone-home
{
    position: relative;

    width: 100%;
    height: 100%;

    user-select: none;

    background: url('../images/lockScreen.jpg') no-repeat;
    background-size: 100%;
}
.iphone-home .slide-part
{
    position: relative;
    left: 0;

    width: 100%;
    height: 100%;
    padding: .1px;

    transition: all .3s ease-out;
}
.iphone-home .slide-part .slide-part-view1
{
    position: absolute;

    width: 100%;
    height: 100%;
}
.iphone-home .slide-part .slide-part-view2
{
    position: absolute;
    left: 100%;

    width: 100%;
    height: 100%;
}
.iphone-home .home-msg
{
    position: absolute;
    top: 250px;

    width: 100%;

    word-break: break-all;
}
