.iphone
{
    position: relative;

    width: 423px;
    height: 871px;
    margin: 0;
    margin-right: 120px;
    padding: 15px;

    transform: scale(.75);

    border: solid 5px #d9dbdc;
    border-radius: 50px;
    background: #f8f8f8;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2), 0 0 0 1px #999, 0 0 30px 0 rgba(0,0,0,.7);
}
.iphone-top
{
    position: relative;

    padding: 5px 110px 40px;
}
.iphone-top .speaker
{
    display: block;

    width: 70px;
    height: 6px;
    margin: 0 auto;

    border-radius: 6px;
    background: #292728;
}
.iphone-top .camera
{
    display: block;

    width: 10px;
    height: 10px;
    margin: 0 auto;
    margin-bottom: 13px;

    border-radius: 50%;
    background: #333;
}
.iphone-top .sensor
{
    display: block;
    float: left;

    width: 15px;
    height: 15px;
    margin-top: -10px;

    border-radius: 50%;
    background: #333;
}

.top-bar,
.bottom-bar
{
    position: absolute;
    left: -5px;

    display: block;

    width: 423px;
    height: 15px;

    border-right: 5px solid #bbb;
    border-left: 5px solid #bbb;
}
.top-bar
{
    top: 65px;
}
.bottom-bar
{
    bottom: 65px;
}
.iphone-screen
{
    overflow: hidden;

    width: 375px;
    height: 660px;
    margin: 0 auto;

    cursor: pointer;

    border: solid 1px #fff;
    border: solid 2px rgba(0,0,0,.9);
    border-radius: 3px;
    background: #0f0f0f;
}
.on-off,
.up,
.down,
.sleep
{
    position: absolute;

    display: block;

    border-radius: 2px 0 0 2px;
    background: #ccc;
}
.on-off
{
    top: 100px;
    left: -8px;

    width: 3px;
    height: 40px;
}
.up,
.down,
.sleep
{
    left: -10px;

    width: 5px;
    height: 60px;
}
.up
{
    top: 170px;
}
.down
{
    top: 250px;
}
.sleep
{
    top: 170px;
    right: -10px;
    left: auto;

    border-radius: 0 2px 2px 0;
}
.iphone-bottom
{
    padding: 10px 0 0;
}
.iphone-bottom .home-btn
{
    position: relative;

    display: block;

    width: 68px;
    height: 68px;
    margin: 0 auto;

    -webkit-transition: all .7s ease-out;
       -moz-transition: all .7s ease-out;
            transition: all .7s ease-out;

    border-radius: 50%;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
}
.iphone-bottom .home-btn:after
{
    position: absolute;
    top: 4px;
    left: 4px;

    display: block;

    width: 60px;
    height: 60px;

    content: '';

    border-radius: 50%;
    background: #fff;
}
.home-btn:hover
{
    cursor: pointer;
}
.home-btn:hover
{
    transform: rotate(360deg);
}
