.lockScreen
{
    position: relative;

    width: 100%;
    height: 100%;
    padding: .1px;

    background: url('/images/lockScreen.jpg') no-repeat;
    background-size: 100%;
}
.screen-body
{
    position: relative;

    width: 100%;
    height: 100%;
    padding: .1px;
}

.slide-unlock
{
    font-size: 20px;

    position: absolute;
    bottom: 30px;

    width: 100%;

    text-align: center;

    color: rgba(255,255,255,.7);
}
.slide-unlock .slide-arrow
{
    position: absolute;
    top: 3px;
    left: 100px;

    display: inline-block;

    width: 17px;
    height: 17px;

    transform: rotate(45deg);
    -webkit-animation: slideArrow 1.5s infinite;
            animation: slideArrow 1.5s infinite;

    border-top: solid 1px rgba(255,255,255,.7);
    border-right: solid 1px rgba(255,255,255,.7);
}

@keyframes slideArrow
{
    0%
    {
        left: 90px;
    }
    50%
    {
        left: 100px;
    }
    100%
    {
        left: 90px;
    }
}
