.ios-modal-fade
{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .6);
}

.ios-modal
{
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;

    width: 85%;
    margin: auto;

    transform: translateY(-50%);
}
.ios-modal-bd
{
    padding: 20px;

    text-align: center;

    border-radius: 10px 10px 0 0 ;
    background: #f4f4f4;
}
.ios-modal-title
{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 5px;
}

.ios-modal-ctrl
{
    overflow: hidden;

    color: #1266f5;
    border-radius: 0 0 10px 10px;

    justify-content: center;
}
.ios-modal-btn
{
    width: 100%;
    padding: 20px;

    text-align: center;

    border-top: solid 1px #e4e4e4;
    background: #f4f4f4;
}
.ios-modal-btn:hover
{
    background: #e4e4e4;
}

/*modal-state*/
.ios-modal-destroy.ios-modal-fade
{
    display: none;
}

.ios-modal-destroy .ios-modal
{
    display: none;
}
