.msg-board
{
    position: relative;

    width: 100%;

    background: #fff;
}

.msg-board .slide-part
{
    position: relative;

    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 570px;
    padding: 0;

    background: #eee;
}
