.project-page
{
    position: relative;

    width: 100%;
    height: 100%;
}

/*slide-part样式为可水平滑动部分的样式，不同于app-top-bar和app-footer等固定部分*/
.project-page .slide-part
{
    position: relative;

    overflow: auto;

    width: 100%;
    height: 570px;

    background: #fff;
}
