---
layout: default
title: "Essay"
styles: [essay.css]
scripts: [essay.js]
sitemap:
    priority: 1.0
    changefreq: 'monthly'
    lastmod: 2016-06-19 00:24:00 UTC
---

<div class="container-fluid" id="essay-wrapper">
    <div class="row">
        <!-- left bar -->
        <div class="col-sm-9" id="essay-left">
            {% for post in site.categories.essay %}
            <div class="row animated" id="essay-item" data-tag={{post.tags}}>
                <a href="{{post.url}}" id="essay-title">
                    <span class="glyphicon glyphicon-leaf" arial-hidden="true"></span>
                    &nbsp;
                    {{post.title}}
                </a>
                <div id="left-tag-div">
                    {% for tag in post.tags %}
					<span class="tag">
						<span class="octicon octicon-tag"></span>
						{{tag}}
					</span>
					{% endfor %}
                </div>
                <div><a href="{{post.url}}" id="essay-excerpt">{{ post.excerpt | strip_html }}</a></div>
                <div id="essay-date">
                    <span class="octicon octicon-calendar"></span>
					{{ post.date | date_to_string }}
                </div>
            </div>
            {% endfor %}
            <div id="paginate-div"></div>
        </div>
        <!-- right bar -->
        <div class="col-sm-3 animated slideInDown" id="essay-right">
            <div id="right-tag-div">
                <div id="tag-title">Featured Tags</div>
					<div>
					<span id="all-tag" class="btn btn-primary ">
						<span class="octicon octicon-list-unordered"></span>
						显示所有标签
					</span>
					{% for post in site.categories.essay %}
					{% for tag in post.tags %}
					<span data-tag={{tag}} class="tag-btn btn btn-default">
						<span class="octicon octicon-tag"></span>
						{{tag}}
					</span>
					{% endfor %}
					{% endfor %}
				</div>
            </div>
        </div>
    </div>

    <!-- Return To Top -->
	<!-- <div id="top">
		<span class="glyphicon glyphicon-chevron-up icon" aria-hidden="true"></span>
		<span class="text">Top</span>
	</div> -->
</div>
