---
layout: default
styles: [essay.css]
---

<div class="container-fluid" id="essay-container">
    <div class="col-sm-12" id="essay-col">
        <div class="page-header" id="essay-header">
            <h1>All Essay</h1>
        </div>

        <div class="well">
            <p>What I think and what I experienced in daily life.</p>
        </div>
        <ul>
            {% for post in site.posts %}

            {% if post.categories contains 'essay' %}
            <li>
                <h3>
                    <span class="glyphicon small glyphicon-leaf" aria-hidden="true"></span>&nbsp;
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <span class="date">
                        <span class="glyphicon small glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                        {{ post.date | date_to_long_string }}
                    </span>
                </h3>
            </li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
</div>