---
layout: default
styles: [notebook.css]
scripts: [notebook.js]
---

<div class="container-fluid">

    <div class="col-sm-4">
        <div class="one-notebook">
            <div class="cover">
                <h3 class="notebook-name">Computer Network</h3>

                <div class="open">
                    <span>OPEN</span>
                </div>
            </div>

            <div class="content">
                <div><h3>content</h3></div>
                {% for post in site.posts %}
                    {% if post.categories contains 'notes' %}
                        {% if post.tags contains 'Computer-Network' %}
                            <div class="item">
                                <a href="{{ post.url }}">{{post.title}}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="one-notebook">
            <div class="cover">
                <h3 class="notebook-name">Computer Network</h3>

                <div class="open">
                    <span>OPEN</span>
                </div>
            </div>

            <div class="content">
                <div><h3>content</h3></div>
                {% for post in site.posts %}
                {% if post.categories contains 'notes' %}
                {% if post.tags contains 'Computer-Network' %}
                <div class="item">
                    <a href="{{ post.url }}">{{post.title}}</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="one-notebook">
            <div class="cover">
                <h3 class="notebook-name">Computer Network</h3>

                <div class="open">
                    <span>OPEN</span>
                </div>
            </div>

            <div class="content">
                <div><h3>content</h3></div>
                {% for post in site.posts %}
                {% if post.categories contains 'notes' %}
                {% if post.tags contains 'Computer-Network' %}
                <div class="item">
                    <a href="{{ post.url }}">{{post.title}}</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>