---
layout: default
styles: [tech-notes.css]
---

<div class="container-fluid" id="tech-container">
    <div class="col-sm-12" id="tech-col">
        <div class="page-header" id="tech-header">
            <h1>All Tech Notes</h1>
        </div>

        <div class="well">
            <p>Here are some technical posts about what I learn recently.</p>
            <p>And I am trying to illustrate each problem clearly.</p>
            <p>If you find some errors, please leave a comment and I will correct them soon.</p>
        </div>
        <ul>
        {% for post in site.posts %}

            {% if post.categories contains 'tech-posts' %}
            <li>
                <h3>
                    <span class="glyphicon small glyphicon-star-empty" aria-hidden="true"></span>&nbsp;
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <span class="date">
                        <span class="glyphicon small glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                        {{ post.date | date_to_long_string }}
                    </span>
                </h3>
            </li>
            {% endif %}

        {% endfor %}
        </ul>
    </div>
</div>