---
layout: default
styles: [tech-notes.css]
---

<div class="container-fluid" id="tech-container">
    <div class="col-sm-9" id="tech-col">
        <div class="page-header" id="tech-header">
            <h1>All Tech Notes Here</h1>
            <!--<img src="/imgs/show1.jpg" alt="tech" class="img-responsive"/>-->
        </div>
        <ul>
        {% for post in site.posts %}

            {% if post.categories contains 'tech-notes' %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
<!--                {{ post.excerpt | remove: 'html' }}-->
                <span class="date">{{ post.date | date_to_string }}</span>
            </li>
            {% endif %}

        {% endfor %}
        </ul>
    </div>
</div>