
.calendar-app
{
    position: relative;

    width: 100%;
    height: 100%;

    background: #eaeaea;
}
.calendar-app #calandar
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto;

    background: #fff;
}
.calendar-app #calandar #calandar-header
{
    width: 100%;
    height: auto;

    background-color: #f47;
}
.calendar-app #calandar #calandar-header #header1
{
    padding: 20px 15px 15px 40px;
}
.calendar-app #calandar #calandar-header #header1 #month
{
    font-size: 35px;

    float: left;

    vertical-align: top;

    color: #fff;
}
.calendar-app #calandar #calandar-header #header1 #month-right-div
{
    float: left;

    margin-left: 10px;

    vertical-align: top;
}
.calendar-app #calandar #calandar-header #header1 #month-right-div #weekday
{
    margin-bottom: 3px;

    color: #fff;
}
.calendar-app #calandar #calandar-header #header1 #month-right-div #year
{
    color: #fff;
}
.calendar-app #calandar #calandar-header #header2 ul
{
    margin: 0;
    padding: 0 15px 15px 20px;

    list-style: none;

    letter-spacing: -10px;
}
.calendar-app #calandar #calandar-header #header2 ul li
{
    display: inline-block;

    width: 14.28%;

    text-align: center;
    vertical-align: bottom;
    letter-spacing: normal;

    color: #fff;
}
.calendar-app #calandar #calandar-body
{
    overflow: auto;

    padding: 0 15px 0 20px;
}
.calendar-app #calandar #calandar-body .row
{
    display: block;

    margin: 20px 0;

    letter-spacing: -10px;
}
.calendar-app #calandar #calandar-body .row .cell
{
    font-size: 25px;
    line-height: 48px;

    display: inline-block;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    -webkit-transition: color .2s linear;
            transition: color .2s linear;
    text-align: center;
    vertical-align: top;
    letter-spacing: normal;

    color: #222;
    border-radius: 50%;
}
.calendar-app #calandar #calandar-body .row .cell:hover
{
    cursor: pointer;

    border-bottom: solid 1px #f47;
}
.calendar-app #calandar #calandar-body .row .cell-not-this-month
{
    color: #aaa;
}
.calendar-app #calandar #calandar-body .row .today
{
    -webkit-transition: all .2s linear;
            transition: all .2s linear;

    color: #fff;
    background: #f47;
}
.calendar-app #calandar #calandar-body .row .today:hover
{
    opacity: .7;
}
.calendar-app #calandar #calandar-footer
{
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: visible;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
}
.calendar-app #calandar #calandar-footer .button
{
    float: right;

    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 7px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.calendar-app #calandar #calandar-footer .button:hover
{
    cursor: pointer;

    opacity: .7;
}
.calendar-app #calandar #calandar-footer #pre-month
{
    border-top: solid 3px #f47;
    border-left: solid 3px #f47;
}
.calendar-app #calandar #calandar-footer #next-month
{
    margin-right: 30px;

    border-right: solid 3px #f47;
    border-bottom: solid 3px #f47;
}
.calendar-app #calandar #calandar-footer #go-to-today
{
    float: right;

    width: 50px;
    height: 20px;
    margin-right: 7px;
}
.calendar-app #calandar #calandar-footer #go-to-today p
{
    font-size: 20px;
    line-height: 20px;

    margin: 0;

    cursor: pointer;
    text-align: center;

    color: #f47;
}
.calendar-app #calandar #calandar-footer #go-to-today:hover
{
    opacity: .7;
}
