<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<div class="container-fluid" id="default-container">
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
		{% include script.html %}
	</div>
</body>
<!--<script  type="text/javascript">
	$youziku.load("#motto", "7977c55e5c5e42f3806db65fe29e93f8", "STKaiti");
	$youziku.load(".post", "7977c55e5c5e42f3806db65fe29e93f8", "STKaiti");
	/*[$youziku.load(".class1", "7977c55e5c5e42f3806db65fe29e93f8", "STKaiti");]*/
	/*[$youziku.load(".class1", "7977c55e5c5e42f3806db65fe29e93f8", "STKaiti");]*/
	/*[．．．]*/
	$youziku.draw();
</script>-->
</html>
