<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../lib/jquery-2.1.4.min.js"></script>

	<link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="../lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../css/index.css"/>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>
	{{ content }}
</body>
</html>
