---
layout: default
styles: [post.css,highlight.css]

---
<div class="row">
    <div class="col-sm-12" id="post-body">
        <div class="post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span>
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
            <p class="post-tag">
                <span>
                    {% for cat in page.categories %}
                    <a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}">
                        <span class="octicon octicon-list-unordered"></span>
                        &nbsp;{{ cat }}
                    </a>
                    {% endfor %}
                </span>
                <span>
                    {% for tag in page.tags %}
                    <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}">
                        <span class="octicon octicon-tag"></span>
                        &nbsp;{{ tag }}
                    </a>
                    {% endfor %}
                </span>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
          </article>
          <hr class="boundary">
        </div>
    </div>
</div>